# =========================
# .NET Core
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# User-specific files
.vs/
.vscode/
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Build results
publish/
wwwroot/

# Secrets
appsettings*.json

# EF Core
Migrations/*Designer.cs

# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production build
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
coverage/
STUFF
# Cache
.parcel-cache/
.next/
.out/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db